<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Value</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>05/01/2025</td>
            <td>54.1</td>
        </tr>
        <tr>
            <td>06/01/2025</td>
            <td>59.3</td>
        </tr>
        <tr>
            <td>07/01/2025</td>
            <td>52.4</td>
        </tr>
    </tbody>
</table>